* {
    font-family: 'Times New Roman', Times, serif;
}

.main.title {
    text-align: center;
}

.wrapper {
    width: 50%;
    margin: auto auto;
}

.image {
    height: 100%;
    width: 100%;
}

p {
    text-align: justify;
}

h3, h4 {
    margin: 5px;
}